@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Welcome To Azure App Services With AndyStav.</h3>


    <p>This site was built using .net 7. c# and Microsoft Azure :) </p>
</div>
